
 /* fix images */
 /* make about... fit */
 /* use positions */
 
 
 body {
    width: 960px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color:#777777;
}
h1{ 
    color: #ffffff;
    background-color: #4aaaa5;
    width: fit-content;
    padding: 12px;
    border-color: #cccccc;
    border-width: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
h2{
    color: #4aaaa5;
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h3{ 
    color: #ffffff;
    background-color: #4aaaa5;
    width: 140px;                       /* width should be width of .box */
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h4{


}
h5{

}
hr{
   color: #cccccc; 
}

.side_img {
transform:rotate(90deg);

    /* this should rotate my image 90 degrees */
}
.morelinks{

 
}
.mainbody{
    width: 800px;
    margin: auto;

}
.box{
border: 2px solid green;
color: brown;
background-color: grey;
height: 140px;
width: 140px;
/* get placeholder images!!! */

}

footer{

}




/* ### Additional Specifcations

1. Colors _Pro-tip: Use the [Eye Dropper](https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka) Chrome extension to find the colors used on web pages._
   X Teal color (used for headings and backgrounds): `#4aaaa5`
  X Regular font color (used for paragraphs and all text besides the headings): `#777777`
   ? Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.

3. Profile Image Found on `index.html`:
   * Use a picture of yourself.
   * If you don't have a picture, you can grab a placeholder image from [LoremPixel](http://lorempixel.com/). Save the images to your `images` folder. */