
 /* fix images */
 /* make about... fit */
 /* use positions */
 /* CREDIT: Background pattern from Toptal Subtle Patterns  */
 
 body {
    /* width: 960px; */
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 500; */
    /* background-image: url(assetts/images/folk-pattern-black/folk-pattern-black.png) */
    /* background-image: url(/assetts/images/folk-pattern-black.png); */
    /* background-image: url(../images/folk-pattern-black.png); */
    color:#777777;
}
.bg-spot{
    background-image: url(../images/folk-pattern-black.png);
    /* margin-top: 25px; */
    padding-top: 25px;
    padding-bottom: 200px;
}
.header1{
    width: 960px;
    margin: auto;
    position: relative;     /*this is needed to make morelinks go to the right of section instead of page*/
    margin-bottom: 0px;
    padding-bottom: 0px;
}
h1{                     /*reserved for my name*/
    color: #ffffff;
    background-color: #4aaaa5;
    width: fit-content;
    padding: 12px;
    border-color: #cccccc;
    border-width: 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* margin-bottom: 25px; */
    margin-bottom: 0px;         /*victory!/*

}
h2{
    color: #4aaaa5;
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: fit-content;
}
h3{ 
    color: #ffffff;
    background-color: #4aaaa5;
    width: 200px;                       /* width should be width of .box */
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 45px;
    /* height: fit-content; */
    text-align: center;

    
}
h4{


}
h5{

}
hr{
   color: #cccccc; 
   /* height: 5px; */
   margin: 0px;
}

a {color: #777777;
}

.header{
background-color:#ffffff ;
}

.side_img {
transform:rotate(90deg);
position: relative;
/* position: absolute; */
    /* this should rotate my image 90 degrees */
    /* display: inline; */
    /* object-fit: cover; */
    padding: 30px;
    /* display: inline; */
    float: left;

}
.morelinks{
    color: #777777;
    /* unnecessary; need to apply to links! */
    position: absolute;
    right: 50px;        /*this needs to move from the border of header1*/
            /* give ancestor a position! */
    top:25px;
    /* position: relative; */
    /* top: -15px; */
    /* right: -750px; */
    /* this needs to be relative to header1... */
}
.mainbody{
    width: 920px;
    margin: auto;
    margin-bottom: 250px;
    padding-bottom: 100px;
    padding: 10px 20px 100px 20px;
    /* position: relative; */
    /* left: -20px; */
    
    /* display: inline; */
    /* background-color: #6E9FCC; */
    /* background-color: #52807D; */
    /* background-color: #29403F; */
    /* background-color: #60B3AE; */
    background-color: #ffffff;

}
.box{
border: 2px solid green;
color: brown;
background-color: grey;
height: 180px;
width: 180px;
/* position: absolute; */
position: relative;
/* display: inline; */
display: inline-flex;
/* get placeholder images!!! */
/* padding: 20px; */
margin: 50px;
}
#box1{

}

#box2{
    /* right: 160px; */

}




/*              Box IDs = 1-9

                HangMan</h3>
                RGP Game</h3>
                Trivia Game</h3>
                Widget</h3>
                Rock Paper Scissors</h3>
                Artwork</h3>
                Stories</h3>
                Blender</h3>
                TheseButtons<br>DontRun...yet</h3>
*/

footer{
position:absolute;
bottom: -55px;
margin-top: 50px;

}
.push{
height: 50pxs;
}





/* ### Additional Specifcations

1. Colors _Pro-tip: Use the [Eye Dropper](https://chrome.google.com/webstore/detail/eye-dropper/hmdcmlfkchdmnmnmheododdhjedfccka) Chrome extension to find the colors used on web pages._
   X Teal color (used for headings and backgrounds): `#4aaaa5`
  X Regular font color (used for paragraphs and all text besides the headings): `#777777`
   ? Main header background color: `#ffffff`
   * Main header border color: `#cccccc`
   * Footer background color: `#666666`
   * Main content background color: `#ffffff`
   * Main content border color: `#dddddd`

2. Fonts:
   * For heading fonts use `font-family: 'Georgia', Times, Times New Roman, serif;`.
   * For all other fonts use `'Arial', 'Helvetica Neue', Helvetica, sans-serif;`.

3. Profile Image Found on `index.html`:
   * Use a picture of yourself.
   * If you don't have a picture, you can grab a placeholder image from [LoremPixel](http://lorempixel.com/). Save the images to your `images` folder. */